/* reseteo los estilos del navegador */

*{ 
    margin: 0;
    padding: 0;
} 

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.header{
    background: cadetblue;
    color: white;
    height: 88px;
    margin: bottom 18px; ;
    margin-left:auto ;
    margin-right: auto;
}

.logo{
    text-transform: uppercase;
}

.logo a{
    color: blanchedalmond;
    text-decoration: none;

}

.navbar{
    background:rgb(13,6,117);
    color: white;
    width: 85vw;
    margin-left:auto;
    margin-right:auto;
}
   
.navbar ul{
    list-style: none;
    text-align: right;
}
 .navbar ul li{
        display: inline-block;

 }
 .navbar ul li a{
     text-decoration: none;
     display:block;
     padding: 15px;
     color:white;
 }

 .navbar ul li a:hover{
     background-color: blueviolet;
     color:blue;

 }